 Compiled source #
###################
*.swp
*.pyc
*.o
*.so
cuda/bench_quality
cuda/bench_sieving

# Specific Files #
##################
/.last_build
/Makefile.local
/parallel-hashmap
/activate
/g6k-env
/g6k-fplll
/g6k-fpylll
/g6k/siever.cpp
/g6k/siever_params.cpp
/G6K.egg-info
build
logs
lwechallenge
svpchallenge
